body {
    font-family: Arial, sans-serif;
    background-color: #0e1111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border: 2px solid #b22222;
    border-radius: 15px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: whitesmoke;
}

.example-section, .practice-section {
    margin: 20px 0;
}

.example-letter {
    font-size: 100px;
    color: #4682b4;
}

.example-letter img {
    max-width: 100px;
    max-height: 100px;
}

canvas {
    border: 2px solid #b22222;
    border-radius: 10px;
    cursor: crosshair;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b22222;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9b0f0f;
}
